.circulo {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background: blue; /* luego de segundos cambia a este color */
     animation-name: MiAnimacion;
     animation-duration: 4s;  
}

@keyframes MiAnimacion {
    from {background-color: white;}
    to {background-color: red;}
}
